.embla {
  max-width: 1000px;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 50%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;

  gap: 20px;
  touch-action: pan-y pinch-zoom;
 
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__inner {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}